@mixin midBoxSize {
  width: 300px;
  height: 200px;
}

.topBar {
  height: 90px;
  display: flex;
  justify-content: space-between;
	align-items: center;

  #logo {
    font-size: 20px;
  }

  .socialMedia{
    font-size: 15px;
  }
}

.imagecontainer {
  display: flex;
  justify-content: center;

  .img {
    height: 150px;
    filter: grayscale(100%);
  }
}

.midBox {
  display: flex;
  justify-content: space-between;
	flex-flow: row wrap;
  height: 250px;

  .news {
    @include midBoxSize;
    overflow: hidden;
  }
  .special {
    @include midBoxSize;
  }
  #map {
    @include midBoxSize;
  }
}

.tabBox {
    max-width: 900px;
    display: flex;

    .header {
      background-color: grey;
      border: 1px solid lightgrey;
      height: 40px;
      width: 125px;
      color: white;
      padding-left: 20px;
      padding-top: 22px;
      flex-direction: row;
    }

    .header:hover {
      background: lightgrey;
    }
    .detail {
      max-height: 0px;
      max-width: 0px;
      border: 1px solid lightgrey;
      overflow: hidden;
      color: grey;
      font-size: 14px;
      flex-direction: column-reverse;
    }

    .detailShow {
      max-height: 500px;
      max-width: 300px;
      padding: 10px;
    }
}
// .tabBox {
//     max-width: 900px;
//     display: flex;
//
//     .header {
//       background-color: grey;
//       border: 1px solid lightgrey;
//       height: 40px;
//       width: 125px;
//       color: white;
//       padding-left: 20px;
//       padding-top: 22px;
//       flex-direction: row;
//     }
//
//     .header:hover {
//       background: lightgrey;
//     }
//     .detail {
//       max-height: 0px;
//       max-width: 0px;
//       border: 1px solid lightgrey;
//       overflow: hidden;
//       color: grey;
//       font-size: 14px;
//       flex-direction: column-reverse;
//     }
//
//     .detailShow {
//       max-height: 500px;
//       max-width: 300px;
//       padding: 10px;
//     }
// }
