@mixin midBoxSize {
  width: 270px;
  height: 230px;
  padding: 10px;
  border: 1px solid #D0CFC4;
}

*{
  box-sizing: border-box;
  background-color: #F6F5EF;
  font-family: 'Lora', serif;
}

.topBar {
  height: 90px;
  display: flex;
  justify-content: space-between;
	align-items: center;
  padding-left: 223px;
  padding-right: 223px;

  #logo {
    font-size: 40px;
    font-family: 'Monsieur La Doulaise';
    color: #855F39;
  }
  .socialMedia{
    font-size: 13px;
    color: #855F39;
  }
}

.imagecontainer {
  display: flex;
  justify-content: center;
  height: 350px;
  filter: grayscale(80%);

  img {
    padding: 15px;
    border: 1px solid #D0CFC4;
  }
}

.midBox {
  display: flex;
  justify-content: space-between;
	flex-flow: row wrap;
  height: 260px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 223px;
  padding-right:223px;

  .midHeader {
    font-family: 'Roboto Condensed', sans-serif;
    color: #79A489;
    font-size: 15px;
  }
  .title {
    color: black;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .post {
    color: black;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .news {
    @include midBoxSize;
    overflow: hidden;
    font-size: 12px;

    .title {
      color: black;
      font-size: 12px;
      font-weight: 600;
      padding-top: 4px;

    }
    .post {
      color: black;
      font-size: 12px;
    }
  }

  .special {
    @include midBoxSize;
    font-size: 12px;

    .specialPic {
      height: 120px;
      width: 250px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .title {
      color: black;
      font-size: 12px;
      font-weight: 600;
    }
    .post {
      color: black;
      font-size: 12px;
    }
  }
  .googleMap {
    @include midBoxSize;
    font-family: 'Roboto Condensed', sans-serif;
    color: #79A489;
    font-size: 15px;

    #map {
      height: 120px;
      width: 250px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .address {
      color: black;
      font-size: 12px;
      text-align: center;
    }
  }
}

.tabBox {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    #headerBox{
      width: 842px;
      display: flex;
      padding-left: 223px;

      .header {
        border-bottom: 1px solid #D0CFC4;
        height: 40px;
        width: 150px;
        color: #8A6341;
        flex-direction: row;
        padding-top: 20px;
        padding: 10px;
      }
    }
    #detailBox {
      padding-left: 223px;
    }
    .detail {
      max-height: 0px;
      max-width: 0px;
      overflow: hidden;
      font-size: 14px;
      flex-direction: column-reverse;
    }
    .detailShow {
      max-height: 1300px;
      max-width: 600px;
    }
    .storyPic1 {
      height: 200px;
      width: 120px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .storyPic2 {
      height: 120px;
      width: 200px;
      padding-top: 4px;
      padding-bottom: 4px;
    }

}

aside {
  margin-right: 100px;
  font-size: 12px;
  color: #8A6341;

  img {
    width: 210px;
    padding-top: 5px;

  }
}


footer{
  font-size: 12px;
  color: #8A6341;
  margin: 10px auto;
  padding-left: 223px;
}
